input {
  @apply bg-transparent border-solid border-black border-b outline-0 block focus:border-b-blue invalid:border-b-danger;
  border-bottom-width: 1px;
}

textarea {
  @apply bg-transparent border-solid border-black border-b outline-0 block focus:border-b-blue invalid:border-b-danger;
  border-bottom-width: 1px;
}

select {
  @apply bg-transparent border-solid border-black border-b outline-0 block focus:border-b-blue invalid:border-b-danger;
  border-bottom-width: 1px;
}

img {
  @apply m-auto text-center;
}

/* table thead tr:first-child th:first-child {
  @apply border-tertiary rounded-tl-[10px];
}
table thead tr:first-child th:last-child {
  @apply border-tertiary rounded-tr-[10px];
}

table tbody tr:last-child td:first-child {
  @apply border-tertiary rounded-tl-[10px];
}
table tbody tr:last-child td:last-child {
  @apply border-tertiary rounded-tr-[10px];
} */

.filledPrimary {
  @apply bg-primary shadow-buttonShadow font-bold;
}

.filledTertiary {
  @apply bg-tertiary shadow-buttonShadow font-bold text-black text-center;
}

.modal {
  @apply z-10 fixed top-0 left-0 backdrop-blur-[0.7px] w-full h-full bg-opacity-40 bg-white flex justify-around items-center text-center;
}

.modalContainer {
  @apply grid items-center shadow-buttonShadow bg-primary bg-opacity-95 p-10 rounded-xl;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.svg120{
  @apply h-[30vw] max-h-[120px] m-auto
}
